@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --family: "Montserrat", sans-serif;
  --fs: 17px;
  --fw-regular: 400;
  --fw-mediun: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --radius: 30px;

  --color-text: #1c1c27;
  --background: #eaeaea;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--color-text);
  background-color: var(--background);
}
